{% extends 'base.html' %}

{% block content %}
<style>
     .success{
   color:green;
  }
  .info {
   color: blue;
  }
</style>

<div class="row">
<div class="col-sm-3">

<h4 class="text-center alert alert-info"> Login Form...</h4>
<form  action="" method="POST" novalidate>
{% csrf_token %}
{{ form.as_p }}
<!--<input type="submit" value="Add Patient">!-->

<input type="submit"  class="btn btn-primary" value="Login">

</form>
 {% if messages %}
     {% for message in messages %}
    <span {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</span>
        <!--{{message}}!-->
    {% endfor %}
 {% endif %}
 </div>
</div>

{% endblock %}